<!DOCTYPE html>
<html>
<head>
    <title>ENCOM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/vistas">Ver Vistas</a> |
        <a href="/procedimientos">Procedimientos</a> |
        <a href="/insertar/incidente">Insertar Incidente</a> |
        <a href="/insertar/evento">Insertar Evento</a>
    </nav>
    <main>
        

        {% block content %}{% endblock %}

        {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}
    </main>
</body>
</html>
